<% @page = "projects" %>

<div class="project_content">

	<h2>projects</h2>

	<div class="grid_12">

		<div class="grid_6 alpha">
			<a href="#project_one"><div class="image"><%= image_tag('p01_header.jpg') %></div></a>
		</div>

		<div class="grid_6 omega">
			<a href="#project_two"><div class="image"><%= image_tag('p02_header.jpg') %></div></a>
		</div>

	</div>

<!-- 
	<div class="grid_12">

		<div class="grid_6 alpha">
			<p><a href="#project_three">Project Three</a></p>
		</div>

		<div class="grid_6 omega">
			<p><a href="#project_four">Project Four</a></p>
		</div>

	</div>

-->

	<div class="grid_12">

		<h4 id="project_one">Project One</h4>
		<h5>Landscape Research Group</h5>

		<div class="grid_12">
			<div class="image"><%= image_tag('p01_01.jpg') %></div>
		</div>


		<p>
		The content of the Creative Landscapes workshop series was tested in 2014 through a project entitled the <i>Landscape Research Group.</i>
		</p>

		<p>
		The <i>Landscape Research Group</i> was open to UK-based students who fell into one of two categories: Level 3 Extended Dip., Foundation Dip., or A’Level students with a place on a BA (Hons) Graphic Design course commencing September 2014, or, Level 4 BA (Hons) Graphic Design students progressing onto Level 5 September 2014. 
		</p>

		<p>
		A call for participants was publicised via a network Higher Education tutors. 29 students from the following institutions applied: 
		Aquinas College, Arts University Bournemouth, University of Brighton, University of Chester, University of Huddersfield, London College of Communication, Sheffield Hallam University, Staffordshire University and University Centre Stockport College. 
		</p>

		<p>
		Fifteen students were selected based on the premise of working with a minimum of one from each applicant institution.
		</p>

		<p>
		The LRG participants worked on five briefs in total. Each brief had to be completed within one week. Participants were encouraged to spend a maximum of two hours on each brief with the aim of encouraging ‘knee-jerk’ responses. In addition, the briefs were intentionally ‘open’, so as to encourage the participants to make their own 
		decisions about how to proceed, as opposed to providing prescribed output methods. The research methods of the participants were later quantitatively and qualitatively analysed.
		</p>

		<p>
		The <i>Landscape Research Group</i> sought to address two key research objectives:<br/>
		1. To analyse the dominance and effect of digital technology/the Internet on undergraduate graphic design student work and the design process.<br/>
		2. To explore undergraduate graphic design research methodologies in relation to the linear/non-linear exploration of the landscape of the design process.
		</p>

		<p>
		The results of the <i>Landscape Research Group</i> informed the content of the Creative Landscape workshop series.
		</p>

		<div class="grid_12">
			<div class="image"><%= image_tag('p01_02.jpg') %></div>
		</div>

		<div class="grid_12">
			<div class="image"><%= image_tag('p01_03.jpg') %></div>
		</div>

	</div>

	<div class="grid_12">

		<h4 id="project_two">Project Two
		<h5>Creative Landscapes: Grasmere &amp; Rydal Water, 2015</h5>

		<div class="grid_12">
			<div class="image"><%= image_tag('p02_01.jpg') %></div>
		</div>
		<!-- [FILM TBC] -->

		<p>
		In October 2015, the Creative Landscapes workshop series successfully ran with a cohort of 45 first year BA (Hons) Graphic Design and BA (Hons) Illustration students from Staffordshire University. 
		</p>

		<p>
		The group collaborated with Debbie Wigglesworth, of The Paper Library, where they learnt about paper manufacturers from around the world, before travelling to the Lake District for a tour of James Cropper paper mill in Kendal. 
		</p>

		<p>
		Whilst on the trip, the students were asked to document the landscapes of Grasmere and Rydal Water according to their 5 senses, later producing a print-based publication each. Photography was not allowed, and paper had to play a key role to play in the communication of their ideas. James Cropper kindly sponsored the student work by supplying several paper stocks for them to work with. 
		</p>

		<p>
		The student work produced was of an exemplary standard. A selection of the work will be on display at the Brewery Arts Centre in Kendal until early September 2016.
		</p>


		<p>
		After taking part in the Creative Landscapes workshop series, the students said:
		</p>

		<p>
		“There is merit in the detour.”
		</p>

		<p>
		“I have learnt how to observe and allow my senses (not just my sight) to
		enhance my work.”
		</p> 

		<p>
		“I’ve learnt that creative projects aren’t just about the visual, but also about what you
		think. I’ve learned think creatively.”
		</p>

		<p>
		“I have become much more experimental, rather than doing things for a 
		pre-determined, literal way.”
		</p>

		<p>
		“I am now more open minded about the possibilities of visual communication.”
		</p>

		<p>
		“The project opened my mind to not just think about the final product but instead
		work through a more thorough, organic process.”
		</p>
		 
		<p>
		“I learnt to inspect things more closely.”
		</p>

		<p>
		“For an idea to be found, first you must be lost.”
		</p>

		<p>
		“I learnt a lot about observation and using all of my senses to communicate through
		visual language.”
		</p>

		<p>
		“I have begun to re-think how I work, and have realised the value of a well-informed
		and considered design process.”
		</p>

		<div class="grid_12">
			<div class="image"><%= image_tag('p02_02.jpg') %></div>
		</div>

		<div class="grid_12">
			<div class="image"><%= image_tag('p02_03.jpg') %></div>
		</div>

		<div class="grid_12">
			<div class="image"><%= image_tag('p02_04.jpg') %></div>
		</div>

		<div class="grid_12">
			<div class="image"><%= image_tag('p02_05.jpg') %></div>
		</div>

		<div class="grid_12">
			<div class="image"><%= image_tag('p02_06.jpg') %></div>
		</div>



		<h4>Project Sponsors</h4>

		<div class="sponsor">
			<h5>Staffordshire University</h5>

			<p>
			BA (Hons) Graphic Design &amp; BA (Hons) Illustration
			</p>

			<p>
			The Creative Landscapes workshop series, publication and exhibition have been kindly supported by the Faculty of Arts &amp; Creative Technologies at Staffordshire University. The work exhibited at the Brewery Arts Centre was developed by students on the BA (Hons) Graphic Design &amp; BA (Hons) Illustration courses in 2015.
			</p>

			<p>
			The BA (Hons) Graphic Design &amp; BA (Hons) Illustration courses at Staffordshire University reflect the diverse nature of contemporary visual communication. The courses are centred around creative thinking, problem solving, design and experimentation through both digital and traditional media. Both courses aim to develop versatile practitioners who have the confidence to experiment creatively and generate strong ideas for a wide range of projects. Collaboration, experimentation and engagement in a wide range of related visual practices is encouraged. 
			</p>

			<p>
			The staff team have strong links with industry and are all actively engaged in their own professional practice as well as the development of innovative teaching and learning practices. 
			</p>
		</div>


		<div class="sponsor">
			<h5>James Cropper PLC</h5>

			<p>
			The Creative Landscapes workshop series and publication have been kindly supported by James Cropper PLC, based in Burneside, Kendal.
			</p>

			<p>
			James Cropper create some of the world’s most distinctive and technically advanced paper products, using materials from cotton and wood to carbon fibre. They support industries from packaging to digital imaging and aerospace with products that are at the cutting edge of performance.
			</p>


			<p><a href="http://jamescropper.com" target="_blank">www.jamescropper.com</a></p>
		</div>

		<div class="sponsor">
			<h5>The Paper Library</h5>

			<p>
			The Creative Landscapes workshop series and publication have been kindly supported by The Paper Library.
			</p>

			<p>
			The Paper Library is a free and independent paper resource for brands, designers and creatives in industry and education. It features papers from all over the world, where everyone has the opportunity to touch, feel, and engage. The Paper Library’s  aim is to show paper and associated materials to every level of the design community, present and future emphasising the importance of paper in the design process. 
			</p>

			<p>
			The original Paper Library is located in Shoreditch in the heart of London’s design community. The space is regularly used by key people, agencies and studios in the city. 2016 will see the opening of The Paper Library in Manchester. 
			</p>

			<p class="library">The Paper Library and Education:</p>
			 
			<p> 
			2016 will also see the launch of The Paper Library in educational facilities. Along with key sites in London and Manchester, our future plan is to make The Paper Library available within key educational facilities in the UK. 
			</p>

			<p>
			TPL will offer a free materials resource to each of these educational facilities and the students within their courses. In addition to the physical space, TPL will offer an extension to the Library and its samples through paper surgeries, talks and events to inform, advise, inspire and engage with students on their paper journey. 
			</p>

			<p>
			The Paper Library will help students understand the paper making process, the huge scope of uses for materials, the importance of paper in the design process and how their creative ideas can be realised. TPL will also offer access to workshops with respected paper artists and designers.
			</p>

			<p><a href="http://thepaperlibrary.com" target="_blank">www.thepaperlibrary.com</a></p>
		</div>

		<div class="sponsor">
			<h5>The Brewery Arts Centre</h5>

			<p>
			The Creative Landscapes exhibition has been kindly supported by The Brewery Arts Centre, Kendal. The Brewery Arts Centre is one of the leading arts centres in the UK, presenting a year-round programme of diverse events, performances and exhibitions in all art forms.
			</p>

			<p><a href="http://breweryarts.co.uk" target="_blank">www.breweryarts.co.uk</a></p>
		</div>

	</div>

</div>