<!DOCTYPE html>
<html>
<head>

	<%= favicon_link_tag 'favicon.ico' %>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>creative landscapes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>





			<div class="centered header">

				<div class="grid_12">

					<div class="grid_4 alpha">

						<h1 class="brand"><%= link_to "creative landscapes", root_path %></h1>

					</div>

					<div class="grid_8 omega">

						<div class="navigation">
							<ul>
								<li><%= link_to "context", context_path %></li>
								<li><%= link_to "projects", projects_path %></li>
								<li><%= link_to "publication", publication_path %></li>
								<li><%= link_to "contact", contact_path %></li>
							</ul>
						</div>

					</div>

				</div>

			</div>








						<div class="grid_12 content <%= "bg" if @page == "home" %> <%= "bg1" if @page != "home" %>">

							<div class="centered">


																								<%= yield %>

							</div>

						</div>






				<div class="centered">

					<div class="grid_12 sponsors">

						<h3>supported by</h3>
								<ul>
									<li class="logo grid_2 alpha"><%= image_tag('1_STAFFS.png') %></li>
									<li class="logo grid_2"><%= image_tag('2_CROPPERS.png') %></li>
									<li class="logo grid_2"><%= image_tag('3_GDEN.png') %></li>
									<li class="logo grid_2"><%= image_tag('4_PAPER.png') %></li>
									<li class="logo grid_2"><%= image_tag('5_UAL.png') %></li>
									<li class="logo grid_2 omega"><%= image_tag('6_BREWERY.png') %></li>
								</ul>
					</div>

				</div>


	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
